@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Merriweather:wght@300&family=Rammetto+One&display=swap');

body{
    /* max-width: 100%; */
    margin: auto; 
    background-image: url(../img/fon.jpg);

} 
:root{
    font-family: 'Gravitas One', cursive;
    font-size: 1rem;
    --main-color: black;
    --menu-color:rgb(255, 255, 255);
    --h1-color: purple;
    --mistyrose-color: rgb(226, 134, 35);
    --fon-color: rgba(250, 239, 237, 0.966);
    --p-color:rgba(250, 237, 220, 0.897);
}
img{
    width: 100%
}
h2{
    font-family: 'Gravitas One', cursive;
    color: var(--mistyrose-color);
    text-align: center; 
    font-size: 1.6rem;
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.container-fluid h1{
    font-family: 'Gravitas One', cursive;
    color: var(--h1-color);
    font-size: 1.6rem;
    text-align: center;
}
.carousel-caption h2{
    font-family: 'Rammetto One';
    font-size: 2.6rem;
    text-align: center;
    color: var(--menu-color);
    text-transform: uppercase;
}
.carousel-caption p{
    color: var(--menu-color);
    font-size: 1.2rem;
}
.carousel-caption button{
   margin-bottom: 20rem;
   background-color: var(--mistyrose-color);
   border-radius: 1rem;
}
.about{
    background-color: var(--fon-color); 
}
.about-us img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5%;
}
.bestsellers-text{
    background-color: var(--fon-color);
}
.home-carousel .home-image{
    margin: auto;
}






.card-text{
    color: var(--mistyrose-color);  
}
.card-img-top-contacts{
    width: 244px;
    height: 162px;
    margin: auto;
}
.card-img-top{
    width: 274px;
    height: 196px;
    margin: auto;
 }   
.mini-text{
    font-size: 0.7rem;
}

.gallery-carousel .gallery-image{
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 10%;
}
.products{
    margin: auto;
}
.party-themes{
    background-color: var(--menu-color);
}

.faq{
    background-color: var(--fon-color);
    
}
.adres img{
    width: 100%;
    border-radius: 10%;
}
.adres p{
    text-align: center;
}
h6{
    text-align: center;
}
.city{
    font-weight: 2rem;
}
.book-online{
    background-image: url(../img/book-online.jpg);
    background-size: cover;
}
.form{
    width: 30rem;
    height: 40rem;
    background-color: var(--fon-color);
    border-radius: 10%;
    display: grid;
    justify-items: center;
    margin-top: 2rem;
}
label{
    margin-top: 1rem;
    text-align: center;
}
input{
    border-radius: 4rem;
    background-color: var(--p-color);
    width: 20rem;
    height: 4rem;
    text-align: center;
}
.sms{
    height: 8rem;
    margin-bottom: 5rem;
}
.boton-submit{
    background-color: var(--mistyrose-color);
}

@media(min-width: 600px){
    #home .navbar-nav {
        display: flex;
        justify-content: space-around;
        flex: 1;
    }
    .date{
        margin: auto;
        color: var(--h1-color);
    }
    .clock{
        margin: auto;
        color: var(--h1-color);   
    } 
    .bestsellers{
       background-color: var(--fon-color);
    }
     .bestsellers-article{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        justify-items: center;
        width: 70%;
    }
    .bestsellers-text{
        padding: 20px;
        padding-bottom: 0px;
    }
    .contacts{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-column-gap: 5% ;
    }
    .book{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); 
        grid-column-gap: 5% ;
    }
    .book p{
        font-size: 1.3rem;
    }
}
@media(min-width: 900px){
    main .about-us{
        display:  grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));  
        grid-column-gap: 30px ;
    }
}